#tab1-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    color: #13322C;
}
.welcome-class {
    font-family: 'quentin';
    min-width: 400px;
    max-width: 80%;
}
#welcome-row1 {
    font-size: 4vw;
    margin-top: 6vh;
}
#welcome-row2 {
    font-size: 2.6vw;
    margin-top: 2vh;
    transform: translateY(-8vh);
}
#personal-greeting {
    min-width: 400px;
    max-width: 80%;
    font-size: 2vw;
    margin-top: 0vh;
    transform: translateY(-8vh);
}
#personal-introduction {
    width: 80%;
    max-width: 600px;
    font-size: 1vw;
    margin-top: 0vh;
    transform: translateY(-8vh);
}
#rsvp-tab-switch-btn {
    position: relative;
    margin-top: 2vh;
    background-color: #f7f0e2;
    left: 50%;
    transform: translate(-50%, -8vh);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    width: 8vw;
    min-width: 150px;
    height: auto;
}
#rsvp-tab-switch-btn img {
    width: 100%;
    height: auto;
    display: block;
}
#rsvp-tab-switch-btn:hover img {
    content: url('../../images/rsvpButtonHover.png');
}