@font-face {
    font-family: "oranienbaum";
    src: url("../fonts/oranienbaum.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "oranienbaumBold";
    src: url("../fonts/oranienbaum.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "quentin";
    src: url("../fonts/quentin.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "photographSignature";
    src: url("../fonts/photographSignature.ttf") format("truetype");
    font-weight: 1000;
    font-style: normal;
}