@font-face {
    font-family: 'oranienbaum';
    src: url('../fonts/oranienbaum.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'oranienbaumBold';
    src: url('../fonts/oranienbaum.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'quentin';
    src: url('../fonts/quentin.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@media (min-width: 1024px) {
    #overlay-text-row2 {
        transform: translateY(-5vh);
        margin-top: 0vw;
    }
}

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f7f0e2;
    height: 100%;
    overflow-x: hidden;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main {
    flex: 1;
}
header {
    width: 100%;
    position: sticky;
    top: 0;
    background-size: cover; 
    background-position: center;
    background-color: #f7f0e2;
    color: #13322C;
    text-align: center;
    padding-bottom: 11.5vh;
    z-index: 100;
    border-bottom: 1vh solid #13322C;
}
nav {
    position: absolute;
    top: 7vh;
    right: 1vw;
    display: flex;
}
nav a {
    position: relative;
    top: 1vh;
    cursor: pointer;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    padding-top: 1.5vh;
    text-decoration: none;
    color: #13322C;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
}
nav a:hover {
    top:0.5vh;
    color: #da8b49;
}
nav a.active {
    top: 0;
    padding-bottom: 1vh;
    color: #da8b49;
    background-color: #13322C; 
}
.tab-content {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}
.tab-content.active {
    display: block;
}
.tab-header {
    font-family: 'oranienbaum', cursive;
    font-size: clamp(1.6rem, 4vw, 3rem);
}
.paragraph {
    font-family: 'oranienbaum', sans-serif;
}

/* header specific elements */
#logo-image {
    position: absolute;
    top: 1vh;
    left: 1vh;
    display: flex;
    height: 10vh;
}
#main-image-container {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
}
#main-image-wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
#main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 1.5s;
}
#main-overlay-text {
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 50%;
    width: 90%;
    color:#da8b49;
    text-shadow: 
    2px 2px 3px rgba(0, 0, 0, 0.8), 
    -2px -2px 3px rgba(0, 0, 0, 0.5);
}
#overlay-text-row1 {
    font-family: 'quentin', sans-serif;
    font-size: clamp(3.2rem, 5vw, 10rem);
}
#overlay-text-row2 {
    margin-top: 8vh;
    font-family: 'oranienbaum', sans-serif;
    font-size: clamp(1.8rem, 6vw, 3rem);
}

/* tab1 specific elements */
#tab1-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    color: #13322C;
}
.welcome-class {
    font-family: 'quentin', cursive;
    min-width: 400px;
    max-width: 80%;
}
#welcome-row1 {
    font-size: clamp(4rem, 8vw, 5rem);
    margin-top: 6vh;
}
#welcome-row2 {
    font-size: clamp(1.3rem, 8vw, 3rem);
    margin-top: 0vh;
    transform: translateY(-8vh);
}
#personal-greeting {
    min-width: 400px;
    max-width: 80%;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin-top: 0vh;
    transform: translateY(-8vh);
}
#personal-introduction {
    width: 80%;
    max-width: 600px;
    font-size: clamp(1.3rem, 2.5vw, 1.5rem);
    margin-top: 0vh;
    transform: translateY(-8vh);
}
#rsvp-tab-switch-btn {
    position: relative;
    background-color: #f7f0e2;
    left: 50%;
    transform: translate(-50%, -8vh);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    width: 8vw;
    min-width: 150px;
    height: auto;
}

#rsvp-tab-switch-btn img {
    width: 100%;
    height: auto;
    display: block;
}

#rsvp-tab-switch-btn:hover img {
    content: url('../images/rsvpButtonHover1.png');
}

/* tab2 specific elements */
#location-name {
    text-align: center;
    color: #2196F3;
}
#location-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-width: 500px;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
}
#location-facts {
    margin-top: 10px;
    text-align: center;
    z-index: 1;
}

/* tab3 specific elements */
#accept-invite {
    text-align: center;
    color: #2196F3;
}
#rsvp-by-date {
    text-align: center;
}
#accept-invite-form {
    justify-items: center;
    background-color: #3333333f;
    width: 89%;
    max-width: 500px; 
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 60px; 
}
.rsvp-header, .rsvp-row {
    display: grid;
    max-width: 500px;
}
.rsvp-header {
    grid-template-columns: 1fr 1fr 1.1fr 1fr;
    column-gap: 1.5vw;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: left;
}
.rsvp-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.9vw;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
}
.header-name {
    text-align: center;
    transform: translateX(28px);
}
.header-rsvp {
    text-align: center;
    transform: translateX(2px);
}
.header-sleepover {
    text-align: center;
    transform: translateX(5px);
}
.header-allergy {
    text-align: left;
    transform: translateX(-2px);
}
.guest-name {
    font-weight: normal;
    text-align: center;
    transform: translateX(20px);
}
.rsvp-allergy-btn {
    max-width: 25vh;
    height: 4.5vh;
    background-color: #36cef4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.rsvp-allergy-btn:hover {
    background-color: rgb(54, 177, 244);
}
.rsvp-form-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 190px;
}
#rsvp-btn {
    display: block;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 10px 20px;
}
/* tab4 specific elements */
#contact {
    text-align: center;
    color: #de21f3;
}
#contactEmail, #contactPhone {
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.6rem, 3vw, 2rem);
    font-family: "Tangerine", sans-serif;
    color: rgb(20, 20, 20);
}

/* footer specific elements */
#countdown-footer {
    width: 100%;
    height: 6vh; 
    background-color:  #13322C;;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    z-index: 10;
    padding-top: 3vh;
    padding-bottom: 6vh;
}
#countdown-text {
    color:#f7f0e2;
}
#countdown-header {
    font-family: 'oranienbaumBold';
    font-size: clamp(1rem, 5vw, 2.3rem);
    margin-top: 0px;
    margin-bottom: 1vh;
}
#countdown-timer {
    font-weight: bold;
    font-size: clamp(1.5rem, 2vw, 2.6rem);
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}
